* {
    margin:0;
    padding:0;
}


html {
   overflow:hidden;
}

a, a:visited {
    outline:none;
    color:#fff;
}

a:hover {
   text-decoration:none;
}

body {
  
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font:14px/1.3 'Raleway', sans-serif;
    color: #fff;
    overflow:hidden;
    background-color: #9ad58c;
}

#upload-box {
    padding: 20px;
    border: 3px dashed #fff;
    border-radius: 4px;
}

#upload-box .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#upload-box .content .left-margin {
    margin-left: 5px;
}

#upload-box input {
    font:16px/1.3 'Raleway', sans-serif;
	border:0;
	padding:0;
    border: 3px solid #fff;
    border-radius: 4px;
    width:350px;
}
